<h1>Employee List</h1>
<button id="logout" ng-click="logout()">Logout</button>
<table border id="employeeTable">
    <tr id="header-row">
        <td>Employee ID</td>
        <td>Birthdate</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Gender</td>
        <td>Hire Date</td>
    </tr>
    <tr ng-repeat="x in employeeData">
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.id }}</td>
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.birthdate }}</td>
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.firstname }}</td>
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.lastname }}</td>
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.gender }}</td>
        <td class="bgcolor{{ x.bgColorScheme}}">{{ x.hiredate }}</td>
    </tr>
</table>